{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<div class="slick-carrusel">
    <img src="{{ 'banner1.jpeg' | asset_url }}" class="slick-carrusel__img" />
    <img src="{{ 'banner2.png' | asset_url }}" class="slick-carrusel__img" />
    <img src="{{ 'banner3.jpeg' | asset_url }}" class="slick-carrusel__img" />
</div>