{{ 'section-info-boxes.css' | asset_url | stylesheet_tag }}

<div class="infoBoxes">
  <div class="infoBoxes__item">
    <i class="infoBoxes__icon fa-solid fa-credit-card"></i>
    <div class="infoBoxes__titulo">FORMAS DE PAGO</div>
    <div class="infoBoxes__descripcion">
      Aceptamos distintas formas de pago, 
      ya sea tranferencia bancaria, tarjetas de credito y débito, Onepay y Webpay
    </div>
  </div>
  <div class="infoBoxes__item">
    <i class="infoBoxes__icon fa-solid fa-truck"></i>
    <div class="infoBoxes__titulo">
      DESPACHOS A DOMICILIO
    </div>
    <div class="infoBoxes__descripcion">
      Hacemos envios a todo Chile, entrega desde los 2 a 5 dias habiles.
    </div>
  </div>
  <div class="infoBoxes__item">
    <i class="infoBoxes__icon fa-solid fa-box"></i>
    <div class="infoBoxes__titulo">ENVIOS GRATIS</div>
    <div class="infoBoxes__descripcion">
      Envios gratis por compras en linea mayores a $50.000.
    </div>
  </div>
</div>